.hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 5rem;
}

.hero__left {
    max-width: 350px;
}

.hero__imgWrapper {
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
}

.hero__heading {
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 1.4rem;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: var(--preto-1);
}

.hero__info {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    color: var(--preto-2);
}

.button__wrapper {
    text-align: center;
}

.success-btn {
    color: var(--branco);
    background-color: var(--verde);
}

@media only screen and (min-width:768px) {
    .hero__wrapper {
        flex-direction: row;
        gap: 0;
    }

    .hero__left {
        flex: 3;
    }

    .hero__right {
        flex: 4;
    }

    .hero__heading {
        font-size: 3.6rem;
        margin-bottom: 2rem;
        text-align: left;
    }

    .hero__info {
        margin-bottom: 2rem;
        font-size: 1.8rem;
        text-align: left;
        line-height: 1.3;
    }

    .button__wrapper {
        text-align: left;
    }

    .hero__imgWrapper {
        max-width: none;
        width: 500px;
    }
}

#especialidade {
    padding-top: 10rem;
}

.especialidade__wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.especialidade__left {
    display: flex;
    gap: 1rem;
}

.especialidade__item {
    background-color: var(--salmon);
    padding: 1.2rem;
    padding-top: 5rem;
    border-radius: 12px;
    width: 45%;
    margin: 0 auto;
}

.especialidade__item__img {
    margin-top: calc(-50% - 2rem);
    margin-bottom: 1.2rem;
    border-radius: 12px;
    height: 150px;
    overflow: hidden;
}

.especialidade__item__img img {
    object-fit: cover;
}

.especialidade__item__title {
    font-size: 1.4rem;
    color: var(--preto-1);
    font-weight: 600;
    margin-bottom: 1rem;
}

.especialidade__item__price {
    color: var(--verde);
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.especialidade__item__stars {
    display: flex;
    gap: 0.3rem;
    margin-bottom: 1rem;
}

.especialidade__item__stars i {
    font-size: 1.4rem; 
    color: var(--amarelo) 
}

.especialidade__item__text {
    font-size: 1.4rem;
    color: var(--preto-2);
    font-weight: 500;
    text-align: justify;
}

.especialidade__title {
    font-size: 1.8rem;
    color: var(--preto-2);
    margin-bottom: 1.5rem;
}

.especialidade__text {
    font-size: 1.4rem;
    color: var(--preto-2);
    margin-bottom: 1rem;
}

@media only screen and (min-width:768px) {
    #especialidade {
        padding-top: 15rem;
    }

    #especialidade .container {
        max-width: 900px;
    }

    .especialidade__wrapper {
        flex-direction: row;
    }

    .especialidade__right {
        flex: 2;
    }

    .especialidade__left {
        flex: 4;
        gap: 2rem;
    }

    .especialidade__item {
        padding: 2rem;
    }

    .especialidade__item__img {
        height: 190px;
    }

    .especialidade__item__title {
        font-size: 2.4rem;
        line-height: 1.4rem;
        margin-bottom: 1.5rem;
    }

    .especialidade__item__price {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .especialidade__item__stars {
        margin-bottom: 2rem;
    }

    .especialidade__item__text {
        font-size: 1.6rem;
        line-height: 1.2;
        text-align: justify;
    }

    .especialidade__title {
        font-size: 3.6rem;
        margin-bottom: 1.5rem;
    }

    .especialidade__text {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        line-height: 1.2;
        text-align: justify;
    }
}

@media only screen and (max-width:300px) {
    .especialidade__left {
        flex-wrap: wrap;
        gap: 10rem;
    }

    .especialidade__item {
        width: 100%;
    }
}

#especialidade.aos-init {
    opacity: 1 !important;
    transform: none !important;
}