.nav {
    padding: 2rem 0;
}

.nav__icon, 
.nav__close, 
.nav__bgOverlayer {
    display: none;
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
}

.nav__wrapper .logo {
    width: 100px;
    margin-bottom: 2rem;
}

.nav__list  li {
    display: inline-block;
    margin: 0 1rem;
}

.nav__list .nav__link {
    font-size: 1.8rem;
    font-family: 'Poppins';
    color: var(--preto-2);
    padding: 0.5rem;
}

.btn {
    color: var(--verde);
    font-family: 'Poppins';
    font-weight: 500;
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 1.2rem 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.primary-btn {
    color: var(--branco);
    background-color: var(--verde);
}

.primary-btn:hover {
    background: var(--laranja-3);
    color: var(--preto-0);
    box-shadow: 0 0 12px rgba(255, 183, 3, 0.5);
    text-decoration: none;
}

@media only screen and (max-width:768px) {
    .btn {
        padding: 1.3rem 2rem;
        font-size: 2rem;
    }

    .nav {
        position: relative;
    }

    .nav__icon, 
    .nav__close {
        display: block;
        cursor: pointer;
    }

    .nav__icon svg, 
    .nav__close svg {
        pointer-events: none;
        height: 30px;
        width: 30px;
    }

    .nav__close {
        position: absolute;
        color: var(--preto-1);
        right: 1rem;
        top: 1rem;
    }

    .nav__list {
        display: flex;
        position: fixed;
        right: -100%; 
        width: 80%;
        top: 0;
        height: 100vh;
        background: var(--lclaro-1);
        align-items: center;
        justify-content: flex-end;
        padding-right: 2rem;
        transform: translateX(0);
        overflow: hidden;
        transition: 0.3s ease-in-out;
        z-index: 1000;
    }

    .nav__list.show {
        right: 0;  
    }

    .nav__list li {
        display: block;
        text-align: right;
        margin-bottom: 2rem;
    }

    .nav__list a {
        font-size: 1.6rem;
    }

    .nav__bgOverlay {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        background: rgba(18, 24, 14, 0.808);
        z-index: 999;
    }

    .nav__bgOverlay.active {
        display: block;
    }
}


@media only screen and (min-width: 700px) {
    .btn {
        padding: 1.3rem 2rem;
        font-size: 2rem;
    }
}

footer {
    background: var(--lclaro-3);
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.footer__wrapp {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer__logo {
    width: 100px;
    height: 100px;
    margin-bottom: 2rem;
}

.footer__col1 .footer_desc {
    line-height: 1.6;
}

.footer__desc {
    font-size: 1.4rem;
    color: var(--preto-2);
    margin-bottom: 2rem;
}

.footer__socials__title {
    font-size: 1.8rem;
    color: var(--preto-1);
    margin-bottom: 1rem;
}

.footer__socials li {
    display: inline-block;
    margin-right: 0.5rem;
}

.footer__socials a {
    padding: 0.5rem 0.8rem;
    background-color: var(--salmon);
    border: 1px solid var(--verde);
    border-radius: 8px;
}

.footer__socials svg {
    width: 20px;
    color: var(--preto-2);
}

.footer__text__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--preto-2);
    font-weight: 600;
}

.footer__text a {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
    color: var(--preto-2);
    font-family: 'Raleway';
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    footer {
        padding: 8rem 0 4rem 0;
    }

    .footer__wrapp {
        flex-direction: row;
    }

    .footer__col1 {
        flex: 4;
    }

    .footer__col2,
    .footer__col3,
    .footer__col4 {
        flex: 2;
    }

    .footer__desc {
        max-width: 300px;
        font-size: 1.8rem;
        margin-bottom: 2.5rem;
    }

    .footer__socials__title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .footer__text__title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .footer__text a {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
}

#copyright {
    padding: 1rem 0;
}

.copyright__text {
    font-size: 1.4rem;
    text-align: center;
}

.storeinfo__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.storeinfo__item {
    background-color: var(--lclaro-3);
    padding: 20px 30px;
    text-align: center;
    border-radius: 12px;
}

.storeinfo__icon i {
    font-size: 3rem; 
    color: var(--salmon);
    margin-bottom: 1rem; 
}

.storeinfo__title {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--verde);
}

.storeinfo__text {
    font-size: 1.4rem;
}

@media only screen and (min-width: 768px) {
    .storeinfo__wrapper {
        gap: 2rem;
    }

    .storeinfo__title {
        min-width: 200px;
        padding: 10px 0;
        font-size: 1.8rem;
    }

    .storeinfo__text {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
}

#storeinfo.aos-init {
    opacity: 1 !important;
    transform: none !important;
}

.pratoGril__title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: 600;
    color: var(--verde);
}

.pratoGril__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
}

.pratoGril__item {
    display: flex;
    flex-direction: column;
    background-color: var(--laranja-pêssego-claro);
    padding: 0.5rem;
    border-radius: 8px;
    gap: 0.5rem;
}

.pratoGril__item__img {
    flex: 4;
}

.pratoGril__item__info {
    flex: 5;
}

.pratoGril__item__img img {
    object-fit: fill;
    height: 100%;
    border-radius: 12px;
}

.pratoGril__item__title {
    font-size: 1.4rem;
    line-height: 1.3rem;
    font-weight: 500;
    color: var(--verde);
    margin-bottom: 0.5rem;
}

.pratoGril__item__price {
    font-size: 1.4rem;
    color: var(--verde);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.pratoGril__item__stars {
    display: flex;
    gap: 0.3rem;
    margin-bottom: 1rem;
    background-color: var(--salmon);
    padding: 10px;
    width: 110px;
    border-radius: 10px;
}

.pratoGril__item__stars i {
    font-size: 1.4rem; 
    color: var(--amarelo) 
}

@media only screen and (min-width: 768px) {
    .pratoGril__title {
        font-size: 2.4rem;
    }

    .pratoGril__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 3rem;
    }

    .pratoGril__item {
        flex-direction: row;
        padding: 1.5rem;
        border-radius: 12px;
        gap: 1rem;
    }

    .pratoGril__item__title {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }

    .pratoGril__item__price {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

#pratoGril.aos-init {
    opacity: 1 !important;
    transform: none !important;
}